.shopTitle{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}

.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width:350px
}

.product .description {
    text-align: center;
}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}


/* Media query */

@media (max-width: 1450px){
    .product img {
    width: 300px;
    } 
}
@media(max-width: 1200px){
    .shopTitle {
            font-size: 27px;
        }
    
    
        .product {
            width: 200px;
           
        }
         
        .product img {
         width: 250px;
    } 
}

@media (max-width: 800px){
    .shopTitle {
     font-size: 23px;
}

.description{
    width: 200px;
    height: 300px;
    
}

    .product {
     width: 60px;
}
    
    .product img {
    width: 200px;
  }
}

@media (max-width: 600px ){

    .shopTitle h1{
        font-size: 35px;
    }
    
        .description {
            width: 200px;
            height: 300px;
    
        }
    
        .product {
            width: 2px;
        }
    
        .product img {
            width: 130px;
        }
}

@media (max-width: 480px){
    .shopTitle {
            margin-top: 100px;
            text-align: center;
            font-size: 30px;
        }
    
        .products {
        grid-template-columns: 1fr;
 }
        .shopTitle h1 {
            font-size: 30px;
        }
        .product img {
         width: 200px;
    }
}